<p>
  <h1>
    <%= @quiz.title %>
  </h1>
</p>

<% @quiz.questions.each do |question| %>
  <h2>
    <%= question.text %>
  </h2>
    <p>
      <%= radio_button_tag("question_".concat(question.id.to_s), 1) %>
      <label for="<%= question.id %>_1"><%= question.answer_one %></label>
    </p>
    <p>
      <%= radio_button_tag("question_".concat(question.id.to_s), 2) %>
      <label for="<%= question.id %>_2"><%= question.answer_two %></label>
    </p>
      <%= radio_button_tag("question_".concat(question.id.to_s), 3) %>
      <label for="<%= question.id %>_3"><%= question.answer_three %></label>
    </p>
    <p>
      <%= radio_button_tag("question_".concat(question.id.to_s), 4) %>
      <label for="<%= question.id %>_4"><%= question.answer_four %></label>
    </p>
<% end %>

 
