<p>
  <h1>
    <%= @quiz.title %>
  </h1>
</p>

<% @quiz.questions.each do |question| %>
  <h2>
    <%= question.text %>
  </h2>
    <p>
      <input type="radio" id="question_<%= question.id %>_1" name="question_<%= question.id %>" value="answer">
      <label for="question_<%= question.id %>_1"><%= question.answer_one %></label>
    </p>
    <p>
      <input type="radio" id="question_<%= question.id %>_2" name="question_<%= question.id %>" value="answer">
      <label for="question_<%= question.id %>_2"><%= question.answer_two %></label>
    </p>
      <input type="radio" id="question_<%= question.id %>_3" name="question_<%= question.id %>" value="answer">
      <label for="question_<%= question.id %>_3"><%= question.answer_three %></label>
    </p>
    <p>
      <input type="radio" id="question_<%= question.id %>_4" name="question_<%= question.id %>" value="answer">
      <label for="question_<%= question.id %>_4"><%= question.answer_four %></label>
    </p>
<% end %>

 
