    <p>
      <%= link_to 'Back to list of quizzes', quizzes_path() %>
      <h1>
        <%= @quiz.title %> 
      </h1>
      <%= link_to 'Edit this quiz', edit_quiz_path(@quiz) %>
    </p>

    <% @quiz.questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= question.text %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <%= radio_button_tag("question_".concat(question.id.to_s), 1) %>
          <label for="<%= question.id %>_1"><%= question.answer_one %></label>
        </p>
        <p>
          <%= radio_button_tag("question_".concat(question.id.to_s), 2) %>
          <label for="<%= question.id %>_2"><%= question.answer_two %></label>
        </p>
          <%= radio_button_tag("question_".concat(question.id.to_s), 3) %>
          <label for="<%= question.id %>_3"><%= question.answer_three %></label>
        </p>
        <p>
          <%= radio_button_tag("question_".concat(question.id.to_s), 4) %>
          <label for="<%= question.id %>_4"><%= question.answer_four %></label>
        </p>
      </div>
   </div>
   <% end %>
