<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= form_for :quiz, url: quizzes_path do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        <%= f.label :difficulty %><br>
        <%= f.text_field :difficulty %><br>
      </p>
     
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
